@{
    ViewData["Title"] = "Usuários";
}

<style>
    .dt-search,
    .dt-length{
        display: flex;
        align-items: baseline;
        gap: 10px;
        font-size: 0.9em;
        margin-top: 20px;
    }

    .dt-end{
        float: right;
    }

    .dt-layout-row{
        display: flex;
        justify-content: space-between;
    }

    thead{
        font-size: 0.9em;
        background: #A7E105;
    }

    .dt-layout-cell{
        margin: 7px 0;
        font-size: 0.9em;
    }

    tbody{
        font-size: 0.8em;
    }

    .dt-paging-button.current{
        background: #A7E105;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .bntContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .bntActionsTable{
        background-color: #A7E105;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 20px;
        color: #f9f9f9;
        text-align: center;
        cursor: pointer;
    }
</style>

<!-- Adicione o link para os estilos CSS do DataTable -->
<link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css" rel="stylesheet" />


<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="@Url.Action("Index", "User")">Usuários</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Create", "User")">Adicionar</a>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <!-- Adicione uma ID para a tabela -->
                    <table id="userTable" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>E-mail</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- Remova o corpo da tabela, os dados serão carregados via AJAX -->
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Adicione os scripts JS necessários para o DataTable -->
@section Scripts {
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/User/GetUserData",
                    "type": "POST"
                },
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Pesquisar:",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sLast": "Último",
                        "sNext": "Próximo",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "Nome" },
                    { "data": "CPF" },
                    { "data": "Email" },
                    { "data": "" }
                ],
                "columnDefs": [
                    {
                        "targets": -1,
                        "render": function (data, type, full, meta) {
                            return [
                                `
                                    <div class="bntContainer">
                                        <button type="button" id="editUser" class="bntActionsTable">✎</button>
                                        <button type="button" id="cancelUser" class="bntActionsTable">✘</button>
                                    </div>
                                   `
                            ].join('');
                        }
                    }
                ],
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true
            });
        });
    </script>
}

