@{
    Layout = null;
}

@model Lumos.Mvc.Models.LoginVM

<link rel="stylesheet" href="~/css/Auth/login.css">

<div class="login-container">
    <img src="~/images/Lumos.png" alt="Logo" class="logo">
    <form id="loginForm">
        <h2>Seja bem-vindo novamente</h2>
        <p>Por gentileza, realize o login em sua conta</p>

        <div class="input-group">
            <input type="text" id="username" name="UserOrEmail" placeholder="Username" required>
        </div>
        <div class="input-group">
            <input type="password" id="password" name="Password" placeholder="Password" required>
        </div>

        <button type="submit">Entrar</button>
        <div class="bottom-text">
           @*  <p>Ainda não tem uma conta? <a href="#">Cadastre-se</a></p> *@
            <p><a href="#">Esqueceu a senha?</a></p>
        </div>
    </form>
</div>

<script>
    document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault();
        var formData = new FormData(document.getElementById('loginForm'));

        fetch('/Auth/Login', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao realizar login');
                }
                return response.json();
            })
            .then(data => {
                sessionStorage.setItem('jwtToken', data.token);
                window.location.href = data.redirectTo;
            })
            .catch(error => console.error('Erro:', error));
    });
</script>
