.breadcrumb-item.active a {
    font-weight: bold;
    color: #88E105;
    cursor: not-allowed;
    pointer-events: none;
}


form {
    margin-top: 20px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e9ecef;
    margin: 10px 20px;
    opacity: 0.3;
}

.section-identification {
    border-bottom: 0.5px solid #e9ecef;
    font-size: 1.0em;
    font-weight: bold;
    margin: 25px 15px;
    color: #58b305;
}

.container-fluid {
    background: #fff;
    padding: 10px 0 5px 0;
}

.input-label {
    color: #6c6d6f;
    font-size: 0.8em;
    font-weight: bold;
}

.form-control {
    font-size: 0.9em !important;
    color: #58b305;
}

.form-control:focus {
    border-color: #a7e105;
    box-shadow: 0 0 0 0.2rem rgba(167, 225, 5, 0.25);
}

.input-label.required {
    color: #58b305;
    font-weight: bold;
}

.input-label-required::after {
    content: " *";
    color: #a7e105;
    font-weight: bold;
}

::placeholder {
    color: #6c6d6f;
    font-size: 0.8em;
}

.next,
.save {
    width: 25%;
    margin: 10px 0 0 0;
}

.multistep {
    display: none;
}

    .multistep.active {
        display: block;
    }

.progress {
    margin: 20px 0;
}

.progress-bar {
    background-color: #88E105!important;
}



.select2-selection__rendered {
    font-size: 0.9em;
    padding-left: 0 !important;
    color: #77c133 !important;
}

.select2-selection--single {
    display: block;
    width: 100%;
    height: auto;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da!important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select2-search--dropdown {

    font-size: 0.9em;
}

.select2-selection--single {
    height: auto!important;
}

.select2-results__message,
.select2-search__field {
    font-size: 0.9em;
}

.select2-results__option--highlighted[aria-selected] {
    background-color: #77c133!important;
    color: white;
    font-size: 0.9em;
}

.select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 8px!important;
    right: 1px;
    width: 20px;
}

    .select2-selection__arrow b {
        border-color: #77c133 transparent #77c133 transparent !important;
        border-width: 0 4px 5px 4px;
    }

